@import base/_variables


*
    font-family: 'Museo Sans Cyrl', sans-serif
    line-height: 1

.container  
    max-width: 950px
    margin: 0 auto
    padding: 0 10px
    
.button 
    background-color: $main-color
    border-radius: 5px
    border: none
    font-weight: 500
    text-transform: uppercase
    color: #ffffff

.title
    text-align: center
    font-size: 30px
    font-weight: 700
    color: #0d0d0d
    text-transform: uppercase
    line-height: 1.2

@import blocks/promo
@import blocks/header
@import blocks/advantages
@import blocks/consultation

        