.title
    text-align: center
    font-size: 30px
    font-weight: 700
    color: #0d0d0d
    text-transform: uppercase
    line-height: 1.2
    &_consultation
        max-width: 775px
        font-size: 36px
        color: #ffffff
        text-align: left


    

@media ( max-width:990px )
    .title
        font-size: 28px